source/skin_sub.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<s_list>
  <div id="spacer"></div>
  <div class="search-result-box">
    <div id="searchList" class="nonEntry">
      <h3>'[##_list_conform_##]'에 해당되는 글 [##_list_count_##]건</h3>
      <ol>
        <s_list_rep>
          <li><span class="date">[##_list_rep_regdate_##]</span><a href="[##_list_rep_link_##]">[##_list_rep_title_##]</a><span class="cnt">[##_list_rep_rp_cnt_##]</span></li>
        </s_list_rep>
      </ol>
    </div>
  </div>
</s_list>
<s_rplist>
  <div id="spacer"></div>
  <div id="searchRplist" class="nonEntry">
    <h3>'[##_rplist_conform_##]'에 해당되는 댓글 [##_rplist_count_##]건</h3>
    <ol>
      <s_rplist_rep>
        <li><span class="date">[##_rplist_rep_regdate_##]</span><a href="[##_rplist_rep_link_##]">[##_rplist_rep_body_##]</a><span class="cnt">[##_rplist_rep_rp_cnt_##]</span><span class="name">[##_rplist_rep_name_##]</span></li>
      </s_rplist_rep>
    </ol>
  </div>
</s_rplist>
<s_local>
  <div id="spacer"></div>
  <div id="localog" class="nonEntry">
    <h3>지역로그</h3>
    <s_local_spot_rep>
      <div style="margin-left: [##_local_spot_depth_##]px" class="spot">[##_local_spot_##]</div>
    </s_local_spot_rep>
    <s_local_info_rep>
      <div style="margin-left: [##_local_info_depth_##]px" class="info"><a href="[##_local_info_link_##]">[##_local_info_title_##]</a></div>
    </s_local_info_rep>
  </div>
</s_local>
<s_tag>
  <div id="spacer"></div>
  <div id="taglog" class="nonEntry">
    <h3>태그</h3>
    <ul>
      <s_tag_rep>
        <li><a href="[##_tag_link_##]" class="[##_tag_class_##]">[##_tag_name_##]</a></li>
      </s_tag_rep>
    </ul>
  </div>
</s_tag>
<s_guest>
  <div id="spacer"></div>
  <div class="guestbook nonEntry">
    
    <s_guest_input_form>
      <div id="guestWrite"></div>
      <s_guest_member>
        <s_guest_form></s_guest_form>
      </s_guest_member>
      <div class="comment-sugguest-icon"><i class="fa fa-comment-o fa-flip-horizontal fa-5x"></i></div>
      <div class="guest-name guest-input">
        <p>
          <input placeholder="Name" type="text" name="[##_guest_input_name_##]" value="[##_guest_name_##]"/>
        </p>
      </div>
      <div class="guest-password guest-input">
        <p>
          <input placeholder="Password" type="password" name="[##_guest_input_password_##]" value=""/>
        </p>
      </div>
      <div class="guest-url guest-input">
        <p>
        </p>
        <input placeholder="link" type="text" name="[##_guest_input_homepage_##]" value="[##_guest_homepage_##]"/>
      </div>
      <div class="guestbook-input-text guest-input">
        <p>
          <textarea name="[##_guest_textarea_body_##]" rows="10" cols="30"></textarea>
        </p>
      </div>
      <div class="comment-bottom-input">
        <p>
          <input id="guestbook-input" type="submit" value="방명록 글 남기기" onclick="[##_guest_onclick_submit_##]"/>
        </p>
      </div>
      <div class="comment-send-icon">
        <label for="guestbook-input"><i class="fa fa-send-o fa-2x"></i></label>
      </div>
    </s_guest_input_form>
    <s_guest_container>
      <div id="guestList">
        <ol>
          <s_guest_rep>
            <li id="[##_guest_rep_id_##]">
              <div class="[##_guest_rep_class_##]">
                <div class="comment-user-id columns small-12">
                  <div class="name-icon"></div>
                  <div class="name-text">
                    <div class="name">[##_guest_rep_name_##]</div>
                  </div>
                </div>
                <div class="comment-user-comment columns small-12">
                  <p>[##_guest_rep_desc_##]</p>
                  <div class="control right"><a href="#" onclick="[##_guest_rep_onclick_reply_##]" class="write"><i class="fa fa-comments-o"></i></a><a href="#" onclick="[##_guest_rep_onclick_delete_##]" class="modify"><i class="fa fa-edit"></i></a>
                    <div class="date"> [##_guest_rep_date_##]</div>
                  </div>
                </div>
              </div>
              <s_guest_reply_container></s_guest_reply_container>
              <ul>
                <s_guest_reply_rep>
                  <li id="[##_guest_rep_id_##]">
                    <div class="row">
                      <div class="columns small-9 comment-second-box right">
                        <div class="row comment-second-row">
                          <div class="columns small-12">
                            <div class="name-icon"></div>
                            <div class="name-text left">[##_guest_rep_name_##]</div>
                          </div>
                          <div class="columns small-11 samll-centered comment-second-p">
                            <p>[##_guest_rep_desc_##]</p>
                            <div class="control right"><a href="#" onclick="[##_guest_rep_onclick_delete_##]" class="modify"><i class="fa fa-edit"></i></a>
                            </div>
                            <div class="date right"> [##_guest_rep_date_##]</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </s_guest_reply_rep>
              </ul>
            </li>
          </s_guest_rep>
        </ol>
      </div>
    </s_guest_container>
  </div>
</s_guest>
<s_notice_rep>
  <div id="spacer"></div>
  <div class="entryNotice">
    <div class="titleWrap">
      <h2><a href="[##_notice_rep_link_##]">[##_notice_rep_title_##]</a></h2><span class="category">공지사항</span><span class="date">[##_notice_rep_date_##]</span>
    </div>
    <div class="article">[##_notice_rep_desc_##]</div>
  </div>
</s_notice_rep>
<s_article_protected>
  <div id="spacer"></div>
  <div class="entryProtected">
    <div class="titleWrap">
      <h2><a href="[##_article_rep_link_##]">[##_article_rep_title_##]</a></h2><span class="date">[##_article_rep_date_##]</span>
    </div>
    <p class="text">보호되어 있는 글입니다.<br/>          내용을 보시려면 비밀번호를 입력하세요.</p>
    <p>
      <label for="[##_article_password_##]">비밀번호 ::</label>
      <input id="[##_article_password_##]" name="[##_article_password_##]" type="password" onkeydown="if (event.keyCode == 13) [##_article_dissolve_##]"/>
      <input type="button" value="확인" onclick="[##_article_dissolve_##]" class="submit"/>
    </p>
  </div>
</s_article_protected>
<div class="adsense-top">
  <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- TistorySkin_상단 반응형--><ins style="display:block" data-ad-client="ca-pub-9418863532496852" data-ad-slot="8641286919" data-ad-format="auto" class="adsbygoogle"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
<div class="adsense-bottom"><span></span>
  <!-- 애드센스 본문 하단-->
  
  
  <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- TistorySkin_본문하단_반응형--><ins style="display:block" data-ad-client="ca-pub-9418863532496852" data-ad-slot="1874899712" data-ad-format="auto" class="adsbygoogle"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
<div class="adsense-bottom2">
  <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- TistorySkin_사이드바 반응형--><ins style="display:block" data-ad-client="ca-pub-9418863532496852" data-ad-slot="8675189313" data-ad-format="auto" class="adsbygoogle"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>

source/skin_sub.jade
doctype transitional



    


s_list

  #spacer

  .search-result-box
    
      #searchList.nonEntry
            h3 '[##_list_conform_##]'에 해당되는 글 [##_list_count_##]건
            ol
                  s_list_rep
                        li
                              span.date [##_list_rep_regdate_##]
                              a(href='[##_list_rep_link_##]') [##_list_rep_title_##]
                              span.cnt [##_list_rep_rp_cnt_##]
s_rplist

  #spacer

  #searchRplist.nonEntry
    h3 '[##_rplist_conform_##]'에 해당되는 댓글 [##_rplist_count_##]건
    ol
      s_rplist_rep
        li
          span.date [##_rplist_rep_regdate_##]
          a(href='[##_rplist_rep_link_##]') [##_rplist_rep_body_##]
          span.cnt [##_rplist_rep_rp_cnt_##]
          span.name [##_rplist_rep_name_##]
s_local

  #spacer
  #localog.nonEntry
    h3 지역로그
    s_local_spot_rep
      .spot(style='margin-left: [##_local_spot_depth_##]px')
        | [##_local_spot_##]
    s_local_info_rep
      .info(style='margin-left: [##_local_info_depth_##]px')
        a(href='[##_local_info_link_##]') [##_local_info_title_##]
s_tag

  #spacer
  #taglog.nonEntry
    h3 태그
    ul
      s_tag_rep
        li
          a(href='[##_tag_link_##]', class='[##_tag_class_##]') [##_tag_name_##]
s_guest

  #spacer
  .guestbook.nonEntry
    //- h3 방명록을 남겨주세요!

    
    s_guest_input_form
        #guestWrite
        s_guest_member
          s_guest_form



        
        
        .comment-sugguest-icon
              i.fa.fa-comment-o.fa-flip-horizontal.fa-5x


      
        .guest-name.guest-input

                  p
                    input(placeholder="Name", type='text', name='[##_guest_input_name_##]', value='[##_guest_name_##]')

              

        .guest-password.guest-input
                  p
                    input(placeholder="Password",type='password', name='[##_guest_input_password_##]', value='')

       
        .guest-url.guest-input

                  p
                      //- input(placeholder="link",type='text', name='[##_rp_input_homepage_##]', value='[##_guest_homepage_##]')
                    input(placeholder="link", type='text', name='[##_guest_input_homepage_##]', value='[##_guest_homepage_##]')
        .guestbook-input-text.guest-input
          p
            textarea(name='[##_guest_textarea_body_##]', rows='10', cols='30')


        .comment-bottom-input
          p
            //- input.submit(type='submit', value='댓글 달기', onclick='[##_rp_onclick_submit_##]')
            input#guestbook-input(type='submit', value='방명록 글 남기기', onclick='[##_guest_onclick_submit_##]')

        .comment-send-icon

          label(for='guestbook-input')
            i.fa.fa-send-o.fa-2x



    
      s_guest_container
        #guestList
          ol
            s_guest_rep
              li(id='[##_guest_rep_id_##]')
                div(class='[##_guest_rep_class_##]')

                              

                                .comment-user-id.columns.small-12

                                  .name-icon

                                  .name-text

                                    .name [##_guest_rep_name_##]

                                .comment-user-comment.columns.small-12


                                      p [##_guest_rep_desc_##]
                                      .control.right



                                        a.write(href='#', onclick='[##_guest_rep_onclick_reply_##]')
                                          i.fa.fa-comments-o

                                        a.modify(href='#', onclick='[##_guest_rep_onclick_delete_##]')
                                          i.fa.fa-edit

                                        .date  [##_guest_rep_date_##]


                s_guest_reply_container
                ul
                  s_guest_reply_rep


                    li(id='[##_guest_rep_id_##]')
                                .row
                                  .columns.small-9.comment-second-box.right

                                      .row.comment-second-row
                                          .columns.small-12
                                            .name-icon
                                            .name-text.left [##_guest_rep_name_##]

                                          .columns.small-11.samll-centered.comment-second-p
                                            p [##_guest_rep_desc_##]

                                            .control.right
                                              //- a.address(href='[##_rp_rep_link_##]')
                                              //-   span 댓글주소
                                              //- a.modify(href='#', onclick='[##_rp_rep_onclick_delete_##]')
                                              //-   span 수정/삭제

                                              a.modify(href='#', onclick='[##_guest_rep_onclick_delete_##]')
                                                i.fa.fa-edit
                                            .date.right  [##_guest_rep_date_##]
s_notice_rep

  #spacer
  .entryNotice
    .titleWrap
      h2
        a(href='[##_notice_rep_link_##]') [##_notice_rep_title_##]
      span.category 공지사항
      span.date [##_notice_rep_date_##]
    .article
      | [##_notice_rep_desc_##]
s_article_protected

                      #spacer
                      .entryProtected
                        .titleWrap
                          h2
                            a(href='[##_article_rep_link_##]') [##_article_rep_title_##]
                          span.date [##_article_rep_date_##]
                        p.text
                          | 보호되어 있는 글입니다.
                          br
                          |           내용을 보시려면 비밀번호를 입력하세요.
                        p
                          label(for='[##_article_password_##]') 비밀번호 ::
                          input(id='[##_article_password_##]', name='[##_article_password_##]', type='password', onkeydown='if (event.keyCode == 13) [##_article_dissolve_##]')
                          input.submit(type='button', value='확인', onclick='[##_article_dissolve_##]')




.adsense-top


  script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
  // TistorySkin_상단 반응형
  ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-9418863532496852', data-ad-slot='8641286919', data-ad-format='auto')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
.adsense-bottom
  span
  // 애드센스 본문 하단



  script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
  // TistorySkin_본문하단_반응형
  ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-9418863532496852', data-ad-slot='1874899712', data-ad-format='auto')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
.adsense-bottom2
  script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
  // TistorySkin_사이드바 반응형
  ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-9418863532496852', data-ad-slot='8675189313', data-ad-format='auto')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
